* {
	color: #fc7e00;
}

h1,h3 {
	line-height: 200%;
}

header {
	background-color: #fc7e00;
	color: #fccd00;
    overflow: hidden;
}

footer {
	background-color: #fc7e00;
	color: #fccd00;
    overflow: hidden;
}

#question, #timer {
	background-color: #fccd00;
}

body {
	background-color: #fc008e;
}
.answer{
	background-color: #00effc;
}
.answer:hover{
	background-color: #fccd00;
}

.answer:active{
	background-color: #fc008e;
}